<html>
<head>
    <meta charset="utf-8">
    <title>Event Booking page - Welcome and choose an Event</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Event Booking App</h1>
</header>
<main>
    <h2>Choose an event:</h2>
    <form action="" method="get">
        <div>
            <label for="filterName">
                Contains Name
            </label>
            <input type="text" id="filterName" name="filterName">
        </div>
        <div>
            <label for="filterRating">
                Rating Equal or Higher than
            </label>
            <input type="text" id="filterRating" name="filterRating">
        </div>
        <button>Filter</button>
    </form>
    <form action="/eventBooking" method="post">
        <div th:if="${events.size() == 0}">No such events</div>
        <div th:each="event : ${events}">
            <input type="radio"
                   th:value="${event.getName()}"
                   name="eventName"
                   th:text="'Name:' + ${event.getName()} + ', Description: ' + ${event.getDescription()} + ', Rating: ' + ${event.getPopularityScore()}">
        </div>


        <!-- Display radio buttons for each event,
                the value should be the event name
                and the displayed text should be Name: <event_name>, Description: <event_description>, Rating: <popularity_score> -->

        <h2>Choose number of tickets:</h2>
        <input type="number" name="numTickets" min="1" max="10"><br/>
        <h2>Your Name:</h2>
        <input type="text" name="attendeeName"><br/>
        <br/>
        <input type="submit" value="Submit">
    </form>

</main>
</body>
</html>