<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!--=============SERVLET==================-->
    <servlet>
        <servlet-name>MYServlet</servlet-name>
        <servlet-class>mk.ukim.finki.wpaud.web.servlet.MYServlet</servlet-class>
        <init-param>
            <param-name>ServletParam1</param-name>
            <param-value>Viktor</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>MYServlet</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>

    <!--=============CONTEXT PARAMETERS==================-->

    <context-param>
        <param-name>Name1</param-name>
        <param-value>asd</param-value>
    </context-param>

    <!--=============LISTENERS/OBSERVERS==================-->

    <listener>
        <listener-class>mk.ukim.finki.wpaud.web.listener.ApplicationContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>MyFilter1</filter-name>
        <filter-class>mk.ukim.finki.wpaud.web.filters.MyFilter1</filter-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Viktor</param-value>
        </init-param>
    </filter>

    <!--=============FILTERS==================-->

    <filter-mapping>
        <filter-name>MyFilter1</filter-name>
        <url-pattern>/myservlet</url-pattern>
<!--        <servlet-name>MYServlet</servlet-name>-->
        <dispatcher>REQUEST</dispatcher>

    </filter-mapping>

    <!--=============SESSION==================-->

    <session-config>
        <session-timeout>150</session-timeout>
    </session-config>
</web-app>
